{% extends "layouts/auth.html" %}
{% block title %}Reset password{% endblock %}

{% block card %}
<div class="auth-heading">
  <h1 class="t-page">Reset your password</h1>
  <p>Enter your username. If the account has an email address on file, we'll send a reset link that is valid for 15 minutes.</p>
</div>
{% if not reset_dispatched %}
<form action="{{ url_for('auth.forgot_password') }}" method="POST" class="form-stack" novalidate>
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <div class="field">
    <label class="field-label" for="username">Username</label>
    <input class="input" id="username" name="username" type="text" autocomplete="username" autocapitalize="none" spellcheck="false" required autofocus>
  </div>
  <button type="submit" class="btn btn-primary btn-block">Send reset link</button>
</form>
{% endif %}
<a class="t-small" href="{{ url_for('auth.login') }}">Back to sign in</a>
{% endblock %}

{% block below %}
<p class="auth-note">No email on file? Ask your administrator to reset your password.</p>
{% endblock %}
